*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
}


.vid1{
  margin: 30px 50px;
}
.tips h3{
  color: rgb(42, 134, 82);
  font-weight: bold;
  font-size: 30px;
  margin: 20px 50px;
}


.video-card{
  margin: 20px 40px;
  float: left;
  background-color: rgb(220,220,220);
  width: 52%;
  height: auto;
  border-radius: 5px;

}
.video-card h1{
  color: rgb(36, 148, 36);
  font-size: 50px;
  margin: 10px 50px;
  text-align: left;
  
}
.video-card p{
  color: black;
  font-family: "Segoe UI";
  font-size: 20px;
  margin: 10px 50px;
}
.video-card img{
  height: 400px;
  width: 600px;
  margin: 20px 50px;
}
.main-container:after{
  content: "";
  display: table;
  clear: both;

}


