.ver-bar {
  float: left; 
  width: 18%;
  height: auto;
 

}
.ver-bar ul{
  list-style-type: none;

}
.ver-bar ul li{
  background-color: rgb(36, 148, 36);
  margin: 10px 5px;
  padding: 10px 20px;
}
.ver-bar ul li a{
  text-decoration: none;
  font-size: 18px;
  color:whitesmoke;
  font-family: "Segoe UI";
}
.ver-bar ul li:hover{
  background-color: black;
}