*{
  box-sizing: border-box;
  font-family:  "Lucida Sans", sans-serif;
}
body{
  margin: 0;
}
textarea {
  white-space: pre-wrap;
  overflow-wrap: break-word ;
  /* height: fit-content; */
}


select {
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-color: rgb(236, 255, 224); /* Fallback color if gradients are not supported */
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: rgb(61, 61, 61);
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.clear{
  clear: both;
}
.admin_container .title_ad_page{
  color: rgb(102, 125, 129);
}
.admin_container .toggle_edit_les{
  display: none;
}
.admin_header{
  background: linear-gradient(90deg, rgb(113, 148, 93) 0%, rgb(89, 129, 92)  74%);
  top             : 0;
  height          : 35px;
  width           : 100%;
  position        : fixed;
  z-index         : 1;
  padding: 4px;
  /* border-bottom: 1px solid black; */
}
.admin_header .admin_info{
  /* margin     : 4px 45px 0 0; */
  display: flex;
  justify-content: center;
  vertical-align: middle;
  float: right;
  align-items: center;
  margin: 0 100px 0 0;
}
.small-avt{
  border-radius: 20px;
  width        : 25px;
  margin       : 0 10px 0 0;
  height       : 25px;
  /* border       : 1px solid gray; */
}
.admin_header .admin_back{
  float: left;
  margin: 3px 0 0 10px;
  transition: all ease 0.2s;
}
.admin_header .admin_back a{
  color: whitesmoke;
}
.admin_header .admin_back:hover{
  transform: scale(1.2);
}
.admin_header .admin_info a{
  text-decoration: none;
  color: white;
  /* margin: 0 0 0 0; */
  vertical-align: middle;
}
.admin_header .admin_info a:hover{
  transform: scale(1.2);
}
.admin_header .admin_logo{
  width      : fit-content;
  float: left;
  margin: 0 0 0 10px;
}
.admin_header .admin_logo a{
  text-decoration: none;
  font-family: cursive;
  font-size  : 20px;
  color      : white;
}
.admin_header .admin_logo:hover{
  transform: scale(1.05);
}

.admin_container .update_data_ok{
  color: green;
}

.admin_container .update_data_fail{
  color: red;
}
.admin_container table{
  width: fit-content;
}
.admin_container table.table_control{
  margin: auto;
}

.admin_container table.table_update_content{
  width: 80%;
  /* margin: 10%; */
}
.admin_container table.table_update_content tr.input_content{
  width: 70%;
}

.admin_container table.table_update_content tr.title_content{
  width: 30%;
}
.admin_container table.table_view_tut{
  margin-top: 10px;
  float: right;
  width: 45%;
}
.admin_container table.table_view_tut tr td.center{
  text-align: center;
}
.admin_container table.tut_table{
  float: left;
  width: 50%;
}
.admin_container table tr td input,
.admin_container table tr td select,
.admin_container table.table_new_les_basic tr td input{
  border: none;
}
.admin_container table tr td input:focus,
.admin_container table tr td select:focus,
.admin_container table.table_new_les_basic tr td input:focus{
  outline: none;
}
.admin_container table.new_test_table,
.admin_container table.tut_table,
.admin_container table.table_new_content,
.admin_container table.test_table,
.admin_container table.table_control,
.admin_container table.table_new_les_basic,
.admin_container table.add_lesson_table,
.admin_container table.toggle_edit_test_table,
.admin_container table.view_question_table
{
  margin: 10px;
  border-collapse: collapse;
  transition: all ease-in 0.5s;
}

.admin_container table.view_question_table{
  width: 100%;

}

.admin_container table.toggle_edit_test_table{
  width: 45%;
  float: right;
}
.admin_container table.toggle_edit_test_table tr.first_row{
  background-color: #79a777;
}

.admin_container table.toggle_edit_test_table tr td{
  border: 1px solid gray;
  padding:10px;
}

.admin_container table.view_question_table tr td{
  padding: 10px;
}
.admin_container table.toggle_edit_test_table tr td.title_content{
  width: 35%;
}
.admin_container table.toggle_edit_test_table tr td input[type='submit']{
  background-color: #263b25;
  color: white;
  padding: 5px 10px;
  float: right;
  transition: 0.5s;
}
.admin_container table.toggle_edit_test_table tr td input[type='submit']:hover{
  background-color: #9aa199;
  color: black;
}
.admin_container table .input_content textarea.doc_area{
  height: 140px;
}

.admin_container table.toggle_edit_test_table tr td textarea{
  width: 100%;
  resize: none;
  border: none;
  font-size: smaller;
}

.admin_container table.toggle_edit_test_table tr td textarea:focus{
  outline: none;
}


.admin_container table.add_lesson_table{
  float: right;
  width: 40%;
  margin-right: 42px ;
}
.admin_container table.edit_lesson_table{
  float: right;
}

.admin_container table.table_new_content_les{
  width: 80%;
  /* margin: auto; */

}

.admin_container table.table_new_content_les tr td.title_content {
  width: 20%;
}

.admin_container table.table_new_content_les tr td.input_content {
  width: 80%;
}
.admin_container table.add_lesson_table tr.first_row{
  background-color: #79a777;
}
.admin_container table.add_lesson_table tr td input[type='submit']{
  background-color: #79a777;
  border-radius: 3px;
  padding: 2px 5px;
  color: white;
  transition: 0.2s;
}
.admin_container table.add_lesson_table tr td input[type='submit']:hover{
  transform: scale(1.03);
}

.admin_container table.add_lesson_table tr td{
  /* width: 50%; */
  border : 1px solid gray;
  padding: 10px;
}
.admin_container table.new_test_table tr td,
.admin_container table.tut_table tr td{
  border: 1px solid gray;
  padding:  5px 10px;
  text-align: center;
}

.admin_container table.table_new_les_basic{
  width: 95%;
  margin: 2.5%;
}
.admin_container table.table_new_les_basic tr td{
  border: 1px solid gray;
  padding: 10px 15px;
}

.admin_container table.table_new_les_basic tr td.bold_row{
  border-bottom: 1px solid black;
}
.admin_container table.table_new_les_basic tr td input[type='file']{
  width: fit-content;
  float: left;
}
.admin_container table.table_new_les_basic tr td div{
  width: 40%;
  float: left;
  margin: 0 20px 0 0;
}
.admin_container table.table_new_les_basic tr td textarea{
  border: none;
  padding: 5px 0;
}

.admin_container table.table_new_les_basic tr td textarea:focus{
  outline: thin;
}

.admin_container table.table_new_content {
  width: 100%;
}
.admin_container table.table_new_content tr.first_row{
  background-color: rgb(134, 134, 134);
  color: whitesmoke;
  margin: 0 10px 0 0;
}
.admin_container table.table_new_content tr.first_row td{
  padding: 10px;
}
.admin_container table.table_new_content tr td.first_column{
  width: 15%;
  text-align: left;
  padding: 0 5px;
}
.admin_container table.table_new_content tr td.last_column{
  text-align: center;
  width: 13%;
}
.admin_container table.table_new_content tr td.last_column input[type='checkbox']{
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
}

.admin_container table.table_new_content tr td.middle_column{
  width: 100%;
  display: flex;
  padding: 10px 0;
  justify-content: center;
}
.admin_container table.table_new_content tr td{
  text-align: center;
}
.admin_container table.new_test_table tr.first_row,
.admin_container table.tut_table tr.first_row{
  background-color: rgb(141, 165, 104);
  color: white;
  text-align: center;
  font-size: 15px;
}
.admin_container table.tut_table tr td{
  border: 1px solid gray;
  width: 50%;
  padding: 10px;
  text-align: left;
}
.admin_container table.new_test_table tr td textarea{
  resize: none;
  width: 300px;
}
.admin_container table.new_test_table tr td input[type='submit'] {
  background-color: rgb(83, 107, 96);
  border: none;
  color: white;
  padding: 5px 10px;
  transition: 0.2s;
  border-radius: 3px;
}
.admin_container table.new_test_table tr td input[type='submit']:hover{
  transform: scale(1.1);
}

.admin_container table.test_table {
  width: 50%;
  float: left;
}

.admin_container table.test_table tr td.title_content {
  width: 35%;
}

.admin_container table.test_table tr td.des_test {
  font-size: smaller;
}

.admin_container table.test_table .first_row{
  background-color: rgb(139, 161, 128);
  text-align: center;
  color: white;
}

.admin_container table.test_table .first_row a,
.admin_container table.tut_table .first_row a{
  color: white;
  text-decoration: none;
}

.admin_container table.test_table tr td{
  border: 1px solid gray;
  padding: 10px;
}

.admin_container .table_control tr.first_row{
  background-color: rgb(142, 180, 142);
  color: white;
}
.admin_container .table_control tr td{
  padding: 10px;
  text-align: center;
  border: 1px solid rgb(129, 129, 129);
}
.admin_container table .title_content{
  /* border: 1px solid rgb(54, 151, 16); */
  width : 15%;
  padding: 0 20px;
}
.admin_container table .input_content{
  /* border: 1px solid rgb(109, 30, 30); */
  width : 70%;
}
.admin_container table .input_content input{
  width: 100%;
  border: 1px solid gray;
}
.admin_container table .input_content textarea{
  width: 100%;
  resize: none;
}

.admin_container .area_content{
  border    : 1px solid black;
  width     : 600px;
  height    : 60px;
  resize    : none;
  margin-top: 5px;
}
.admin_navigation .ul_parent{
  list-style-type: none;
  margin         : 0;
  padding        : 0;
  /* height: 90%;
  border-right  : 1px solid gray; */
  /* overflow-y: scroll; */
  
}
.admin_navigation .ul_parent li{
  margin: 20px 0 10px 0;

  
}
.admin_navigation .ul_parent li span{
  padding: 2px 5px;
  /* border         : 1px solid green; */
  font-weight: bold;
  margin: 0 0 0 7px;
  
}
.admin_navigation .ul_parent li ul {
  list-style-type: none;
}

.admin_navigation .ul_parent li ul li{
  margin          : 8px 25px 8px 0;
  padding         : 5px 25px;
  background-color: rgb(119, 151, 119);;
  box-shadow      : 0 1px 3px rgba(219, 213, 213, 0.822), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 4px;
  transition: all ease 0.3s;
}

.admin_navigation .ul_parent li ul li:hover{
  transform: scale(1.02,1.05);
}
.admin_navigation .ul_parent li ul li:hover{
  background-color: rgb(82, 82, 82);;
}
.admin_navigation .ul_parent li ul li a{
  text-decoration: none;
  color          : rgb(243, 243, 243);
}
.admin_container .toggle_lesson,
.admin_container .add_new_tut
{
  display: none;
}
.admin_container .toggle_lesson table{
  border-collapse: collapse;
  font-size: 14px;
}
.admin_container .toggle_lesson table tr td{
  border: 1px solid rgb(136, 136, 136);
  padding: 5px;
}

.admin_container table.view_question_table tr td{
  padding: 10px 3px;
}


.admin_container .toggle_lesson table .first_row{
  background-color: gray;
  text-align: center;
  color: white;
}
.admin_container .toggle_lesson table tr .first_column{
  /* border: 1px solid red; */
  padding: 5px 8px;
}



.admin_container .show_lesson{
  margin: 0 0 0 10px;
}
.admin_container .setting_lesson{
  margin: 0 0 0 10px;
  font-size: 20px;
  color: gray;
  cursor: pointer;
}

.admin_container .update_content {
  display: flex;
  justify-content: center;

}
.admin_container .update_content input{
  border: none;
  background-color :rgb(129, 175, 129) ;
  color: white;
  padding: 5px 15px;
  border-radius: 10px;
  transition: 0.3s;
  margin: auto;
}

.admin_container .update_content input:hover{
  transform: scale(1.2);
  background-color :rgb(124, 129, 124) ;
}

.icon-100{
  height: 22px;
  width: 22px;
  color: white;
}
.admin_container .icon-96{
  height: 20px;
  width: 20px;
  margin: 0 0 0 20px;
  cursor: pointer;
}
.admin_container .icon-96:hover{
  transform: scale(1.15);
}
.admin_container .icon-96-center{
  cursor: pointer;
  height: 20px;
  width: 20px;
}
.admin_container .icon-96-center:hover{
  transform: scale(1.15);
}
.admin_container .icon-120{
  height: 30px;
  width: 30px;
  margin: 0 0 0 20px;
}
.admin_container #btn_add_tut,
.admin_container .cursor_add,
.admin_container  .option_user
{
  cursor: pointer;
}
.admin_container .show_lesson:hover,
.admin_container #btn_add_tut:hover,
.admin_container .user_view .option_user:hover,
.admin_container .add_user_icon:hover
{
  transform: scale(1.15);
  color: dodgerblue;
}

.admin_container .user_view .block_icon:hover{
  color: red;
}
.admin_container .user_view .send_mes_icon:hover{
  color: green;
}
.admin_container  .add_user_icon:hover{
  color: purple;
}

.admin_container .add_new_user{
  display: none;
}

.admin_container{
  /* border : 1px solid black; */
  width  : 80%;
  position: relative;
  /* float  : right; */
  /* height: 80%; */
  margin : 35px 0 35px 20%;
  padding: 20px;
  z-index: 0;
}
.admin_navigation{
  /* border: 1px solid black; */
  width           : 20%;
  top             : 35px;
  background-color: whitesmoke;
  height          : 100%;
  position        : fixed;
  border-right    : 1px solid grey;
  overflow-y      : auto;


  /* float : left; */
}

.admin_footer{
  /* border: 1px solid black; */
  width           : 80%;
  height          : 30px;
  margin          : 0 0 0 20%;
  padding         : 8px;
  bottom          : 0;
  background: linear-gradient(90deg, rgb(117, 117, 117) 0%, rgb(121, 121, 121) 74%);
  position        : fixed;
  z-index         : 1;
  
  
}
.admin_footer p{
  text-align: center;
  color: white;
  margin: 0;
}

.clear{
  clear: both;
}


@media only screen and (max-width: 768px) {
  .admin_navigation .ul_parent li ul{
    margin         : 0;
    padding        : 0;
  }
} 

