
.admin_container .table_user{
  border-collapse: collapse;
  width: 100%;
}

.admin_container .table_user tr.row td{
  border: 1px solid rgb(114, 114, 114);
  height: 50px;
  /* display: flex; */
  padding: 0 0 0 6%;
}

.admin_container .table_user tr.row td.first_col{
  /* display: flex; */
  width: 35%;
}

.admin_container .table_user tr.row td .name_contain{
  display: flex;
  align-items: center;
}

.admin_container .table_user tr.first_row {
  text-align: center; 
  /* font-size: larger; */
  font-weight: bold;
}
.admin_container .table_user tr.first_row td {
  padding: 0;
}

.admin_container .table_user tr.row td.second_col{
  width: 15%;
}
.admin_container .table_user tr.row td.third_col{
  width: 30%;
  margin: 0 5px;
}

.admin_container .table_user tr.row td.third_col img{
  transition: 0.2s;
}
.admin_container .table_user tr.row td.third_col img:hover {
  transform: scale(1.1);
}

#info_user_contain{
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10000000;
  background-color: rgba(204, 204, 204, 0.4);

}

#info_user_contain #info_user{
  border: 1px solid rgb(177, 177, 177);
  width: 300px;
  margin: auto;
  margin-top: 13%;
  border-radius: 10px;
  background-color: white;
  padding: 40px;
}

#info_user_contain #info_user table{
  width: 100%;
}
