@font-face{
  font-family: 'digital-clock-font';
  src        : url("./fonts/DS-DIGI.TTF");
}

@font-face{
  font-family: 'mater_sans';
  src        : url("./fonts/Martel_Sans_Regular.ttf");
}
.calendar{

  height : 300px;
  width  : 270px;
  display: block;
  margin : 10px 0 0 15px;
  padding: 0 0 0% 0%;

}
.calendar  .title{
  text-align      : center;
  background-color: greenyellow;
  width           : 270px;
  margin          : 0px;
  padding         : 3px 20px;
  font-size       : 20px;
  color           : brown;
  font-weight     : bolder;
  height          : 30px;
  justify-content : center;
  display         : flex;

}
.calendar #time{
  height          : fit-content;
  width           : 270px;
  background-color: rgb(235, 235, 235);
  color           : black;
  font-family     : 'digital-clock-font';
  text-align      : center;
  font-size       : 22px;
  display         : block;
  float           : right;
  padding         : 2px 0;
}
.calendar .title .name-calendar{
  float     : left;
  height: 100%;
  width     : fit-content;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: mater_sans; 
  font-size: 17px;
}
.calendar .title .name-calendar p{
  margin: 0 0 0 10px;
  height: 100%;
}
.calendar .title .name-calendar .icon_calendar{
  float    : left;
}
.calendar  #day{
  display         : flex;
  width           : 270px;
  height          : 220px;
  flex-wrap       : wrap;
  align-items     : center;
  background-color: dodgerblue;
  padding         : 10px 20px 10px 20px;

}
.calendar #day div{
  background-color: white;
  font-family: cursive;
  font-size: 13px;
  border-radius   : 2px;
  margin          : 4px;
  padding         : 2px 0 0 0;
  width           : 24px;
  height          : 21px;
  justify-content : center;
  text-align      : center;
  transition: all 0.3s;

}
.calendar #day div:hover{
  background-color: greenyellow;

}
.calendar #day #today{
  background-color: rgb(173, 233, 52);
  font-weight     : 900;
  color           : red;
}
.calendar #day #today:hover{
  transform: scale(1.3);
}

.calendar .month{
  display         : flex;
  background-color: burlywood;
  width           : 270px;
  height          : 30px;
  justify-content : center;
  padding         : 2px;
  font-family: cursive;

}
.calendar .month div {
  text-align : center;
  color      : red;
  font-weight: bold;
  margin     : 3px 3px;
}
.calendar .month button {
  border-radius   : 20px;
  border          : none;
  color           : white;
  background-color: rgb(28, 155, 233);
}
.calendar .month #mon-prev{
  padding: 4px 8px;
}
.calendar .month #mon-next{
  padding     : 4px 8px;
  margin-right: 5px;
}

.calendar .month #mon-prev:hover{
  border: 1px solid white;
}
.calendar .month #mon-next:hover{
  border: 1px solid white;
}