
*{
  box-sizing         : border-box;

  -webkit-user-select: none;
  -khtml-user-select : none;
  -moz-user-select   : none;
  -ms-user-select    : none;
  -o-user-select     : none;
  user-select        : none; /*_prevent copy text on website*/
}
a{
  text-decoration: none;
}
body{
  margin: 0;
}
audio:focus{
  outline: none;
}

.icon-20{
  height: 20px;
  width: 20px;
}

.icon-25{
  height: 25px;
  width: 25px;
}

.icon-23{
  height: 23px;
  width: 23px;
}

.img-50{
  height: 50px;
  width: 50px;
}

.img-100{
  height: 100px;
  width: 100px;
}

.img-120{
  height: 120px;
  width: 120px;
}

.img-150{
  height: 150px;
  width: 150px;
}
.main-container .video-card #slide_show .intro{
  /* border: 1px solid gray; */
  border: 10px ridge rgb(255, 255, 255);
}

.main-container{
  margin          : 50px 0 0 250px;
  /* border          : 1px solid gray; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(220,220,220);
  width           : 55%;
  padding         : 20px 0 40px 0;
  z-index         : 0;
  height          : fit-content;
  border-radius   : 8px;
  position        : relative;
  display         : block;
  overflow        : auto;
  min-height      : 550px;
}
.main-container:after{
  content: "";
  display: table;
  clear  : both;

}
.main-container .video-card .each_tut_show .img_tut_show{
  border: 1px solid rgb(190, 190, 190);
  /* float: left; */
}

.main-container .video-card .each_tut_show{
  border: 1px solid rgb(141, 141, 141);
  display: flex;
  /* align-items: center; */
  padding: 15px;
  border-radius: 10px;
  margin: 5px 20px;
  
}
.main-container .video-card .each_tut_show .tut_cont{
  border: 1px solid rgb(179, 179, 179);
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  margin: 0 0 0 20px;
  
}

.main-container .video-card .each_tut_show .tut_cont .title{
  /* border: 1px solid orange; */
  /* margin: 10px 0 0 0; */
  font-size: larger;
}

.main-container .video-card .each_tut_show .tut_cont .title a{
  color: rgb(78, 122, 243);
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

.main-container .video-card .each_tut_show .tut_cont .des_tut{
  /* border: 1px solid green; */
  margin: 10px 0 0 0;
}
.main-container .video-card .each_tut_show .tut_cont .tut_level{
  /* border: 1px solid blue; */
  margin: 10px 0 0 0;
}


.vid1{
  margin: 30px 50px;
}
.main-container .video-card .tips h3{
  color      : rgb(42, 134, 82);
  font-weight: bold;
  font-size  : 20px;
  margin     : 30px 0 10px 50px;

}


.main-container .video-card{
  margin          : 0px 0px;
  background-color: rgb(220,220,220);
  width           : 100%;
  height          : auto;
  border-radius   : 5px;

}
.main-container .video-card h1{
  color      : rgb(84, 194, 89);
  font-family: "Segoe UI";
  font-size  : 35px;
  margin     : 0 0 0 6%;
  text-align : left;
  text-shadow: -1px 0 rgb(108, 185, 108), 0 1px rgb(138, 190, 138), 1px 0 rgb(21, 53, 21), 0 -1px green;
  
}
.main-container .video-card p{
  color      : black;
  font-family: "Segoe UI";
  font-size  : 18px;
  width      : 90%;
  margin     : 0 0 3% 8%;
}
/* .main-container .video-card #slide_show{
  position: relative;
}
.main-container .video-card #slide_show .slide_item{
  position: absolute;
} */
.main-container .video-card  .intro{
  width : 85%;
  margin: 0 0 0 7% ;
  border: 10px ridge rgb(255, 255, 255);
  border-radius: 10px; 
}


.main-container .video-card .verb-video{
  display      : block;
  border-radius: 5px;
  width        : 100%;
  padding      : 20px;
  /* margin: 0 10px; */
}
.main-container .video-card .verb-video iframe{
  border: 10px ridge rgb(255, 255, 255); 
  border-radius: 10px; 
  /* border: 1px solid gray; */
}

.main-container .video-card .verb-video .subtitle{
  margin    : 25px 0;
  border    : 10px ridge rgb(255, 255, 255);
  /* box-shadow: 0 4px 8px 0 rgba(0,0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1); */
  overflow-y: hidden;
  border-radius: 10px; 
  height    : 200px;
  width     : 100%;
  background-color: whitesmoke;
}
.main-container .video-card .verb-video .subtitle:hover{
  overflow-y: scroll;
}
.main-container .video-card .verb-video #player{
  width: 100%;
}


.main-container .video-card .knowledge{
  /* border       : 1px solid gray; */
  box-shadow: 0 4px 8px 0 rgba(0,0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  margin       : 20px 20px;
  border-radius: 5px;
  padding      : 20px;
  background-color: whitesmoke;
}
.main-container .video-card .knowledge .bs_img{
  width: 100%;
}
.main-container .video-card .knowledge ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.main-container .video-card .knowledge ul .sub_cont{
  font-size: 18px;
  margin: 50px 0 0 0;
}
.main-container .video-card .knowledge .cont_main{
  font-size: 24px;
}
.main-container .video-card .knowledge .point-main{
  background-color: #CCFF99;
  color           : black;
  /* border          : 1px solid gray; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  padding         : 5px;
}
.main-container .video-card .knowledge .separate_knowledge{
  border: 4px solid gray;
  margin: 50px 0 10px 0;
  
}
.guide-main{
  background-color: rgb(230, 215, 167);
  color           : black;
  border          : 1px solid gray;
  padding         : 5px;
}

@media only screen and (max-width: 1300px){
  .main-container{
    width: 75%;
  }
  .main-container .video-card .knowledge{
    margin: 20px 15px;

  }

}
@media only screen and (max-width: 1000px){
  .main-container{
    width: 70%;
  }
}

@media only screen and (max-width: 900px){
  .main-container{
    width       : 100%;
    margin-left : 0;
    margin-right: 0;
  }
  .main-container .video-card p{
    font-size: 16px;
  }
  .main-container .video-card h1{
    font-size: 20px;
  }
}

@media only screen and (max-width: 700px){

  .main-container .video-card{
    width: 100%;
  }
  .main-container .video-card .verb-video .subtitle{
    margin: 0;
  }
  .main-container .video-card .tips h3{
    font-size: 20px;
  }
  .main-container .video-card .verb-video .subtitle,
  .main-container .video-card #intro,
  .main-container .video-card .verb-video iframe
  {
    border-width: 5px;
  }

}

@media only screen and (max-width: 450px){

  .main-container .video-card .verb-video .subtitle{
    overflow: auto;
  }

}

@media only screen and (min-width: 1400px){

  .main-container {
    width: 58%;
  }

}

@media only screen and (min-width: 1500px){

  .main-container {
    width: 60%;
  }

}

@media only screen and (min-width: 1600px){
  .main-container {
    width: 63%;
  }
}
@media only screen and (min-width: 1800px){

  .main-container {
    width: 64%;
  }

}

@media only screen and (min-width: 2000px){

  .main-container {
    width: 70%;
  }

}

@media only screen and (min-width: 2200px){
  .main-container {
    width: 73%;
  }

}

@media only screen and (min-width: 2500px){
  .main-container {
    width: 75%;
  }

}

@media only screen and (min-width: 3000px){
  .main-container {
    width: 80%;
  }

}