
*{
  box-sizing         : border-box;

  -webkit-user-select: none;
  -khtml-user-select : none;
  -moz-user-select   : none;
  -ms-user-select    : none;
  -o-user-select     : none;
  user-select        : none; /*_prevent copy text on website*/
}
a{
  text-decoration: none;
}
body{
  margin: 0;
}
#intro{
  border: 1px solid gray;
}

.main-container{
  margin          : 50px 0 0 250px;
  /* border          : 1px solid gray; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(220,220,220);
  width           : 55%;
  padding         : 20px 0 40px 0;
  z-index         : 0;
  height          : fit-content;
  border-radius   : 8px;
  position        : relative;
  display         : block;
  overflow        : auto;
}
.main-container:after{
  content: "";
  display: table;
  clear  : both;

}


.vid1{
  margin: 30px 50px;
}
.main-container .video-card .tips h3{
  color      : rgb(42, 134, 82);
  font-weight: bold;
  font-size  : 30px;
  margin     : 5%;

}


.main-container .video-card{
  margin          : 0px 0px;
  background-color: rgb(220,220,220);
  width           : 100%;
  height          : auto;
  border-radius   : 5px;

}
.main-container .video-card h1{
  color      : rgb(84, 194, 89);
  font-family: "Segoe UI";
  font-size  : 30px;
  margin     : 0 0 0 6%;
  text-align : left;
  text-shadow: -1px 0 green, 0 1px green, 1px 0 green, 0 -1px green;
  
}
.main-container .video-card p{
  color      : black;
  font-family: "Segoe UI";
  font-size  : 18px;
  width      : 90%;
  margin     : 0 0 3% 8%;
}
.main-container .video-card #intro{
  width : 85%;
  margin: 0 0 0 7% ;
  border: 10px ridge rgb(255, 255, 255);
}


.main-container .video-card .verb-video{
  display      : block;
  border-radius: 5px;
  width        : 100%;
  padding      : 20px;
  /* margin: 0 10px; */
}
.main-container .video-card .verb-video iframe{
  border: 10px ridge rgb(255, 255, 255); 
  /* border: 1px solid gray; */
}

.main-container .video-card .verb-video .subtitle{
  margin    : 25px 0;
  border    : 10px ridge rgb(255, 255, 255);
  /* box-shadow: 0 4px 8px 0 rgba(0,0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1); */
  overflow-y: hidden;
  /* border-radius: 8px; */
  height    : 200px;
  width     : 100%;
  background-color: whitesmoke;
}
.main-container .video-card .verb-video .subtitle:hover{
  overflow-y: scroll;
}
.main-container .video-card .verb-video #player{
  width: 100%;
}


.main-container .video-card .knowledge{
  /* border       : 1px solid gray; */
  box-shadow: 0 4px 8px 0 rgba(0,0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  margin       : 20px 20px;
  border-radius: 5px;
  padding      : 20px;
  background-color: whitesmoke;
}
.main-container .video-card .knowledge .point-main{
  background-color: #CCFF99;
  color           : black;
  /* border          : 1px solid gray; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  padding         : 5px;
}
.guide-main{
  background-color: rgb(230, 215, 167);
  color           : black;
  border          : 1px solid gray;
  padding         : 5px;
}

@media only screen and (max-width: 1300px){
  .main-container{
    width: 75%;
  }
  .main-container .video-card .knowledge{
    margin: 20px 15px;

  }

}
@media only screen and (max-width: 1000px){
  .main-container{
    width: 70%;
  }
}

@media only screen and (max-width: 900px){
  .main-container{
    width       : 100%;
    margin-left : 0;
    margin-right: 0;
  }
  .main-container .video-card p{
    font-size: 16px;
  }
  .main-container .video-card h1{
    font-size: 20px;
  }
}

@media only screen and (max-width: 700px){

  .main-container .video-card{
    width: 100%;
  }
  .main-container .video-card .verb-video .subtitle{
    margin: 0;
  }
  .main-container .video-card .tips h3{
    font-size: 20px;
  }
  .main-container .video-card .verb-video .subtitle,
  .main-container .video-card #intro,
  .main-container .video-card .verb-video iframe
  {
    border-width: 5px;
  }

}

@media only screen and (max-width: 450px){

  .main-container .video-card .verb-video .subtitle{
    overflow: auto;
  }

}