button:hover , input[type="submit"]:hover{
  opacity: 0.8;

}

.login-container-2{
  display         : block;
  position        : fixed;
  z-index         : 9999999;
  background-color: rgb(0,0,0,0.3);
  height          : 100%;
  width           : 100%;

  /* overflow: auto; */
  /* margin: -7px 0 0 -7px; */

}
.login-form{
  background-color: #fefefe;
  margin          : 8% auto 10% auto;
  width           : 370px;
  padding         : 2%;
  border-radius   : 20px;
}

.login-form .login-main{
  padding: 20px;
}

.login-form .login-main .login-label{
  padding: 10px 0px 5px 0px;
  display: block;
}

.login-form .login-main .check_remember #remember_me:hover{
  text-decoration: underline;
}
.login-img{
  padding        : 3%;
  display        : flex;
  justify-content: center;
}
.fa-user{
  font-size: 60px;

}
#sign_up{
  margin: 0.5% auto 10% auto;
}

input[type="text"], input[type="password"]{
  box-sizing: border-box;
  width     : 100%;
  border    : 1px solid dodgerblue;
  padding   : 5px 20px;
  margin    : 0 0 10px 0;
}
input[name="submit"], input[name="signup"], input[name='login']{
  display         : block;
  margin          : 20px 0 0 0;
  width           : 100%;
  padding         : 10px;
  background-color: green;
  color           : whitesmoke;
  font-size       : 16px;
  
}
.login-btn-2{
  margin: 1% 0 0 0;
}
.login-btn-2 .cancel-btn{
  background-color: rgb(179, 42, 42);
  border          : none;
  padding         : 5px 10px;
  color           : whitesmoke;
}
.login-btn-2 span a{
  color      : black;
  margin-left: 30px;
}
.login-btn-2 span a:hover{
  text-decoration: underline;
}
.login-form .login-main .error_log{
  color : red;
  margin: 0 0 30px 0;

}
.check_remember{
  margin: 10px 0 0 0;
}


.animate{
  animation: animatezoom 0.6s;
}

@keyframes animatezoom{
  from{transform: scale(0);}
  to{transform: scale(1);}
}

@media (max-width: 500px){
  .login-form{
    width: 70%;
  }
}
@media (max-width: 450px){
  .login-form{
    width: 80%;
  }
}