
.hori-nav{
  height          : 34px;
  list-style-type : none;
  align-items     : center;
  padding         : 0;
  margin          : 0;
  float           : left;
  background-color: gray;
  z-index         : 999;
  display         : block;
  position        : absolute;
  overflow        : hidden;
  width           : 100%;
  left            : 0;
}
.hori-nav  li{
  float: left;
}


.hori-nav li a, .dropbtn{
  text-decoration: none;
  font-size      : 18px;
  font-family    : 'Segoe UI';
  text-align     : center;
  display        : inline-block;
  color          : white;
  padding        : 5px 14px;
  font-weight    : 300;
  transition: all ease 0.3s;
}
.hori-nav li a:hover, .dropbtn:hover{
  background-color: rgb(28, 155, 233);
}

li.tutorial{
  display: inline-block;
}
.hori-nav .tutorial .inner-content{
  list-style-type : none;
  min-width       : 160px;
  display         : none;
  background-color: whitesmoke;
  box-shadow      : 1px 2px 8px 1px;
  position        : absolute;
  z-index         : 1000;
}
.hori-nav .tutorial .inner-content a{
  display         : block;
  padding         : 10px 23px;
  background-color: whitesmoke;
  color           : black;
  text-align      : left;
  transition: all ease-in .3s;

}
.hori-nav .tutorial .inner-content a:hover {
  color           : white;
  background-color: red;
  
}

.hori-nav .tutorial:hover .inner-content{
  display : block;
  z-index : 9999999;
  /* top: 60px; */
  position: fixed;
  

}

#search_area{
  float:right;
}

.search-box{
  float        : right;
  border-radius: 5px;
  margin       : 0px 20px 15px 10px;
  padding      : 5px;
}
#search{
  width        : 200px;
  height       : 25px;
  border-radius: 15px;
  border       : none;
  margin       : 0 0 0 0;
  padding      : 0 0 0 15px;
}
.btn-search{
  background-color: rgb(236, 226, 226);
  color           : rgb(0, 0, 0);
  padding         : 5px;
  border-radius   : 10px;
  border          : none;
  font-size       : 11px;
  margin          : 0px 0px 0px 4px;
  transition: all ease-out 0.3s;
}
.btn-search:hover{
  background-color: rgb(0, 0, 0);
  transform: scale(1.04);
  color: whitesmoke;

}
.fa , .fa-search{
  margin-right: 5px;
}

#home-li{
  background-color: rgb(28, 155, 233);
}
#home-li a:hover{
  background-color: rgb(129, 194, 31); 
}


#hor-nav #menu-li button{
  padding         : 5px 10px 3px 10px;
  background-color: gray;
  border          : none;
}
#menu-li button .material-icons{
  color : whitesmoke;
  margin: 0;
}
#hor-nav #menu-li button:hover{
  background-color: rgb(129, 194, 31);
}

/* @media screen and (max-width: 500px){

  .hori-nav li{
    display: block;
    float  : none;
  }
} */


@media screen and (max-width: 550px){

  .hori-nav li a .text_to_hide {
    display: none;
  }
  .hori-nav .tutorial .inner-content{
    min-width: 135px;
  }
  .hori-nav li a .hide{
    margin-left: 5px;
    
  }
  .hori-nav li a .hide:hover{
    transform: scale(1.4,1.4);
  }
}
@media screen and (max-width: 450px){
  
  .hori-nav{
    height: 30px;
  }
  /* .hori-nav li a .hide{
  margin-right: 5px;
  } */
  .hori-nav li a{
    padding: 5px 10px;
  }
}