
.question {
  border: 2px solid dodgerblue;
  width: 270px;
  height: 200px;
  overflow: auto;
  margin: 0 0 0 15px;
  overflow-y: scroll;
  display: block;
  transition: 0.2s;
}
.question .qs-title{
  text-align: center;
  color: red;
  font-weight: bold;
  font-family: "Segoe UI";

}
.question .qs-list {
  margin-top: 0px;
}
.question .qs-list li{
  margin: 5px 8px 10px 0px;
}
.qs-title{
  color : dodgerblue;
}
.qs-list li a{
 color: black; 
 font-size: 13px;
 font-family: "Segoe UI";
}
.qs-list li a:hover{
 color: rgb(52, 187, 63); 
 text-decoration: underline;
}